<div class="session mat-indigo">
    <div class="session-content">
      <div class="session-wrapper">
        <mat-card>
          <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="text-xs-center pb-1">
                <img src="assets/images/logo_dark_2x.png" alt=""/>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-around">
                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <input matInput placeholder="Story Title" [formControl]="form.controls['title']">
                  </mat-form-field>
                  <small *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched" class="mat-text-warn">Story Title is required.</small>
                </div>
                <div class="pb-1">
                  <mat-form-field style="width: 100%">
                    <textarea matInput  placeholder="Story description" [formControl]="form.controls['description']"></textarea>
                  </mat-form-field>
                  <small *ngIf="form.controls['description'].hasError('required') && form.controls['description'].touched" class="mat-text-warn">Story Description is required.</small>
                </div>

                <div class="pb-1">
                    <mat-form-field style="width: 100%">
                      <textarea matInput  placeholder="Username" [formControl]="form.controls['username']"></textarea>
                    </mat-form-field>
                    <small *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched" class="mat-text-warn">Username is required.</small>
                  </div>
                <div class="pb-1">
                  <mat-checkbox>I have read and agree to the terms of service.</mat-checkbox>
                </div>
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Create Story</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  