<mat-toolbar class="main-header">

    <div class="branding">
      <img src="assets/images/logo_white_x.png" (click)="viewHome()" alt=""/>
    </div>
    <div class="branding">
      <h1 (click)="viewHome()" >AppX</h1>
    </div>
  
    <span style="flex: 1 1 auto;"></span>

    <button class="menu-button" routerLink="/create"  matTooltip="Add" mat-icon-button  fxLayout fxHide.xs>
      <mat-icon>create</mat-icon>
    </button>

    <button class="menu-button" routerLink="/list" matTooltip="List"  mat-icon-button class="ml-xs" fxLayout fxHide.xs  >
      <mat-icon>list</mat-icon>
    </button>

    <button class="menu-button" routerLink="/session"  matTooltip="SignIn"  mat-icon-button class="ml-xs" fxLayout fxHide.xs  >
        <mat-icon>account_box</mat-icon>
    </button>
  
  
    <!--
      /*
       * Header menu when the page is not viewed or Desktop or iPads
       */
    -->
    <button class="menu-button" mat-icon-button [matMenuTriggerFor] = "smallScreenHeaderMenu" fxShow.gt-lg="false" fxShow.lg="false" fxShow.md="false" fxShow.sm="false" fxShow="true"  >
      <mat-icon>more_vert</mat-icon>
    </button>
  
    <mat-menu #smallScreenHeaderMenu="matMenu">
        
        <button mat-menu-item routerLink="/create" > 
          <mat-icon>create</mat-icon>
          <span>Add</span>
        </button>
  
        <button mat-menu-item  routerLink="/list"> 
            <mat-icon>list</mat-icon>
            <span>List</span>
        </button>

        <button mat-menu-item routerLink="/session" > 
            <mat-icon>account_box</mat-icon>
            <span>SignIn</span>
        </button>
  
    </mat-menu>
  
  </mat-toolbar>
  